.header
{
    position: sticky;
    top: 0px;
    padding: 10px 4px;
    background-color: red;
}


.header1
{
    height: 90%;
    overflow-y: scroll;
}

.header1::-webkit-scrollbar
{
    width: 0px;
}