.left-side
{
    background-color: rgb(0, 47, 81);
    overflow-y: scroll;
    height: 100%;
}

.ov-none
{
    overflow: hidden;
}

.left-side::-webkit-scrollbar {
    width:0px; /* Width of the scrollbar */
}

.left-side::-webkit-scrollbar-thumb {
    background: rgb(31, 50, 90); 
    border-radius:14px;/* Color of the scrollbar handle */
  } 

.area-pannel
{
    background: rgb(184, 184, 184);
}
